{include file="header" /}

<body>

  <section class="el-container  is-vertical">
    {include file="top" /}
    <section class="el-container">
      {include file="left" /}
      <section class="el-container  is-vertical">
        <main class="el-main" id="main">

          <div id="app">
            <fieldset>
              <legend v-text="'【' + dd.name + '】模型'"></legend>
            </fieldset>
            <!-- 按钮操作 -->
            <el-card style="margin-bottom: 10px;">
              <div slot="header">
                <span>模型属性操作</span>
              </div>
              <el-button @click="goAdd()" icon="el-icon-plus" type="primary" size="medium">新增属性</el-button>
              <el-button type="info" icon="el-icon-d-arrow-left" @click="returnIndex()" size="medium" plain>返回</el-button>
            </el-card>
            <!-- 表格 -->
            <el-card>
              <div slot="header">
                <span>模型属性列表</span>
              </div>
              <template>
                <el-table :data="tableData" stripe style="margin-bottom: 20px;">
                  <el-table-column prop="attr" label="属性名"></el-table-column>
                  <el-table-column prop="abbr" label="字段名"></el-table-column>
                  <el-table-column prop="type" label="字段类型">
                    <template slot-scope="scope">
                      <el-tag v-if="scope.row.type == 1" type="success" size="mini">文本</el-tag>
                      <el-tag v-else-if="scope.row.type == 2" type="primary" size="mini">图片</el-tag>
                    </template>
                  </el-table-column>
                  <el-table-column label="操作" width="150" fixed="right">
                    <template slot-scope="scope">
                      <el-button @click="handleClick(scope.row, 'edit')" type="primary" size="small" icon="el-icon-edit-outline" plain></el-button>
                      <el-button @click="handleClick(scope.row, 'del')" type="danger" size="small" icon="el-icon-delete" plain></el-button>
                    </template>
                  </el-table-column>
                </el-table>
              </template>
            </el-card>


          </div>
        </main>
        {include file="footer" /}
      </section>
    </section>
  </section>

  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
        // 模型基本信息
        dd: {
          name: decodeURIComponent(querystring.ddName),
        },
        tableData: [],  //表格数据
        currentPage: parseInt(querystring.currentPage) || 1, //当前页
        currentPageSize: 20,  //当前页容量
        pageSize: [20, 40, 60], //分页大小
        total: 0, //总页数
        multipleSelection: [],  //多选项
      },
      methods: {
        // 点击代理
        handleClick(data, type) {
          if (type == 'del') {
            this.$confirm('确认删除?', '提示').then(() => {
              httpRequest('POST', 'api_systems/dds/del_table_field', {
                table_name: querystring.ddTableName,
                id: data.id
              }).then((resp) => {
                this.$message.success(resp.msg)
                this.tableData.splice(this.tableData.indexOf(data), 1);
              })
            }).catch(() => {
              this.$message.info('操作取消');
            })
          } else if (type === 'edit') {
            location = location.origin + '/admin/dds/edit_key' + querystringStringify({ ddName: querystring.ddName, ddTableName: querystring.ddTableName, currentDdsPage: querystring.currentDdsPage, keyAbbr: data.abbr });
          }
        },
        // 新增
        goAdd() {
          location = location.origin + '/admin/dds/edit_key' + querystringStringify({ ddName: querystring.ddName, ddTableName: querystring.ddTableName, currentDdsPage: querystring.currentDdsPage });
        },
        // 返回列表页
        returnIndex() {
          location = location.origin + '/admin/dds/index' + querystringStringify({ currentPage: querystring.currentDdsPage });
        },
        // 加载数据
        loadTableData() {
          httpRequest('POST', 'api_systems/dds/table_info', {
            table_name: querystring.ddTableName
          }).then((resp) => {
            this.tableData = resp.data;
          })
        }
      },
      filters: {

      },
      mounted() {
        this.loadTableData();
      }
    });

  </script>

</body>

</html>