<!-- 新建html模板页 -->

{include file="/index/top" /}
<style>
  .warp {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    height: 50px;
    background: #EEE;
    overflow: hidden;

    clear: both;
    background-color: #fff;
  }

  .inner {
    line-height: 40px;
    width: 630px;
    height: 50px;
    position: relative;
    overflow: hidden;
  }

  .inner span {
    display: block;
    padding: 0 10px;
    float: left;
    font-size: 14px;
    color: #777;
  }

  .inner .active {
    color: #358cff;
    border-bottom: 1px solid #358cff;

  }

  .aui-grid .aui-grid-label {
    color: #777;
    margin-top: 0;
  }

  .aui-grid [class*=aui-col-] {
    padding: .2rem .2rem;
  }
</style>
<script src="__static__/wap/script/horizontalMove.js"></script>
</head>

<body>
  <div id="app">
    <!-- 头部 -->
    <header class="aui-bar aui-bar-nav aui-bar-light" id="header" style="background-image:none;">
      <a class="aui-pull-left aui-btn" onclick="goto('home')">
        <span class="aui-iconfont aui-icon-left"></span>
      </a>
      <div class="aui-title">我的订阅</div>
    </header>
    <!-- 商品列表 -->
    <div v-if="haveNoData" class="aui-col-xs-12 aui-text-center" style="margin-top:30%;">
      <img src="__static__/wap/images/no_content.png" style="width:18%;margin:0 auto;">
      <h5 style="margin-top:1rem;" class="aui-font-size-14">暂无数据~</h5>
    </div>
    <div v-else class="aui-content" style="margin-bottom:2.8rem;">
      <div class="aui-flex-col aui-flex-center">
        <div class="aui-flex-item-12">
          <div class="aui-flex-col">
            <div class="aui-flex-item-12" style="position: relative;padding:3px;" @click="gobid(bid.id)" v-for="(bid,bidKey) in bidlist" :key="bidKey">
              <h5 class="aui-text-default aui-ellipsis-2 aui-font-size-12 aui-padded-t-5 aui-padded-l-10 aui-padded-r-10  aui-bg-white">
                  <span v-text="bidKey+1+'.'"></span>
                  <span v-text="bid.title"></span>
              </h5>
              <p class="aui-padded-b-5 aui-padded-t-5 aui-padded-l-10 aui-padded-r-10  aui-bg-white">
                <span class="aui-text-price" v-text="'【'+bid.type+'】'" style="font-size:0.5rem;"></span>
                <span style="font-size:0.5rem;">发布时间：<span v-text="bid.issue_time"></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {include file="/index/footer" /}
  </div>
  <script>
    // 滚动到底部的事件
    scrollEvent = function () {
      var scrollTop = document.documentElement.scrollTop || window.pageYOffset || document.body.scrollTop;
      if (document.documentElement.scrollHeight - scrollTop - document.documentElement.clientHeight < 10) {
        loadbid();
      }
    }
    var page = 1;
    var app = new Vue({
      el: '#app',
      data: {
        activeFooterIndex: 3,
        bidlist: [],
        types: [
          {
            name: '全部',
            id: 0,
          }
        ],
        subtypes: [],
        activetypeId: '',
        selectedtypeId: '',
        selectedtypeName: '',
        haveNoData: false
      },
      methods: {
        gobid: function (bidId) {
          goto('bid_detail', {bidId: bidId});
        },
        selecttype: function (type) {
          this.activetypeId = type.id;
          this.selectedtypeId = type.id;
          if (type.id) {
            this.selectedtypeName = type.name;
          }else{
            this.selectedtypeName = '';
          }
          this.subtypes = type._child || [];
          page = 1;
          this.bidlist = [];
          loadbid()
        },
        selectSubtype: function (subtype) {
          this.selectedtypeId = subtype.id;
          page = 1;
          this.bidlist = [];
          loadbid()
        }
      },
      mounted: function () {
        var that = this;
        // 加载分类
        // httpRequest('POST', 'api_bids/bid_types/lists').then(function (resp) {
        //   resp.data.forEach(function (item) {
        //     that.types.push(item)
        //   });
        //   setTimeout(function () {
        //     new horizontalMove({
        //       innerId: "#inner",
        //       warpId: "#warp",
        //       speed: 0.5
        //     });
        //   }, 100)
        // }, {}, false);
      },
    })
    loadbid = function () {
      document.body.onscroll = null;
      httpRequest('POST', 'api_bids/bids/lists', {
        type: app.selectedtypeName
      }, {
          'page-num': page,
          'page-limit': 10
        }).then(function (resp) {
          if (resp.data.length > 0) {
            app.haveNoData = false;
            resp.data.forEach(function (item) {
              app.bidlist.push(item);
            })
            if (resp.data.length == 10) {
              page++;
              document.body.onscroll = scrollEvent;
            } else {
              document.body.onscroll = null;
            }
          } else {
            if (page == 1) {
              app.haveNoData = true;
            }
          }
        });
    }
    loadbid();
  </script>
</body>

</html>