<!-- 新建html模板页 -->

{include file="/index/top" /}
</head>

<body>
  <div id="app">
    <header class="aui-bar aui-bar-nav aui-bar-light" id="header">
      <a class="aui-pull-left aui-btn" onclick="goto('home')">
        <span class="aui-iconfont aui-icon-left"></span>
      </a>
      <div class="aui-title" v-text="title"></div>
    </header>
    <div class="aui-content aui-bg_white aui-text-center aui-padded-15">
      <h3 class="aui-font-weight">我的实名认证</h3>
      <h4 class="aui-text-info aui-padded-t-5" v-text="authStatus[user_auth.status]"></h4>
      <img class="aui-margin-t-10" :src="user_auth.id_card_front_img">
      <img class="aui-margin-t-10" :src="user_auth.id_card_back_img">

    </div>
    <footer class="aui-bar aui-bar-tab" v-if="user_auth.status != 3">
      <div class="aui-bar-tab-item aui-padded-l-15 aui-padded-r-15" @click="submit">
        <div class="aui-btn aui-btn-block aui-btn-sm aui-btn-info">重新提交</div>
      </div>
    </footer>
  </div>
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        title: '身份认证',
        user_auth: {},
        authStatus: [
          '未提交',
          '审核中',
          '审核未通过',
          '审核通过'
        ]
      },
      methods: {
        submit: function () {
          goto('idcard_auth', { status: app.user_auth.status, id: app.user_auth.id })
        }
      },
      mounted: function () {
        httpRequest('POST', 'api_query/users/auth')
          .then(function (resp) {
            app.user_auth = resp.data;
          })
      }
    })
  </script>
</body>

</html>