<!-- 新建html模板页 -->

{include file="/index/top" /}
<link rel="stylesheet" href="__static__/OwlCarousel2-2.2.1/assets/owl.carousel.min.css">
<link rel="stylesheet" href="__static__/OwlCarousel2-2.2.1/assets/owl.theme.default.min.css">
<script src="__static__/OwlCarousel2-2.2.1/owl.carousel.min.js"></script>
<script src="__static__/wap/aui/script/aui-actionsheet.js"></script>
<style>
  ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #fff !important;
  }

  :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #fff !important;
  }

  ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #fff !important;
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #fff !important;
  }

  .owl-theme .owl-nav.disabled+.owl-dots {
    position: absolute;
    bottom: 3px;
    width: 100%;
  }

  .aui-grid .aui-grid-label {
    color: #a3a3a3;
    margin-top: 0;
  }

  .aui-grid [class*=aui-col-] {
    padding: .2rem .2rem;
  }

  .aui-col-xs-2 {
    width: 20%;
  }

  #top {
    background: linear-gradient(to bottom, #2cc1f3, #19a6f7, #068bfc);
  }

  #search-header {
    background: linear-gradient(to bottom, #57b8f7, #53b1f8, #4facf9);
  }

  .dot {
    width: 0.2rem;
    height: 0.2rem;
    background-color: #757575;
    border-radius: 0.2rem;
  }

  .aui-grid [class*=aui-col-] {
    padding: 0rem;
  }

  .owl-theme .owl-dots .owl-dot span {
    width: 30px;
    height: 3px;
    border-radius: 0px;
    background-color: #f4f4f4;

  }

  .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span {
    background-color: #369eff;
  }

  #xianshizhekou .owl-dots {
    display: none;
  }
</style>
</head>

<body>
  <div id="app">
    <!-- 头部 -->
    <div id="top">
      <div class="aui-list aui-media-list aui-list-noborder" style="background-color:rgba(0,0,0,0)">
        <div class="aui-list-item aui-list-item-middle aui-padded-l-5 aui-padded-r-5">
          <div class="aui-media-list-item-inner">
            <div class="aui-list-item-left" style="width:1.8rem;" @click="goto('home')">
              <img v-if="user" :src="user.avatar" class="aui-img-round" id="avatar" style="width:1.8rem;">
            </div>
            <div class="aui-list-item-inner aui-text-center">
              <img :src="logo" style="width:52%; margin: 0 auto;">
            </div>
            <div class="aui-list-item-right" style="width:1rem;margin-right: 0.2rem;" @click="goto('article_list', {type: 'annoncements'})">
              <i class="aui-iconfont iconfont icon-liuyan aui-text-white" style="font-size:1rem"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="aui-searchbar" id="search" style="background-color:rgba(0,0,0,0)" onclick="goto('search_page')">
        <div class="aui-searchbar-input aui-border-radius" id="search-header">
          <i class="aui-iconfont aui-icon-search" style="color: #fff!important;"></i>
          <input type="search" placeholder="搜索信息" id="search-input" style="color: #fff!important;" readonly>
          <div class="aui-searchbar-clear-btn" style="background:none;">
            <i class="aui-iconfont aui-icon-close"></i>
          </div>
        </div>
        <div class="aui-searchbar-btn" style="color: #fff!important;">取消</div>
      </div>
    </div>

    <!-- 中间页 -->
    <div class="aui-content" style="margin-bottom:2.8rem;">
      <!-- 轮播 -->
      <div class="owl-carousel owl-theme" id="owl-carousel1">
        <div class="item" v-for="(banner,key) in banners" :key="key">
          <a :href="banner.href">
            <img :src="banner.img" />
          </a>
        </div>
      </div>
    </div>

    <div style="margin: 0 auto;text-align: center;">
      <h1>iBidding</h1>
      <div>基于Internet的招投标信息智能推送系统</div>
    </div>

    {include file="/index/footer" /}
  </div>
  <script>
    // 滚动到底部的事件
    function scrollEvent() {
      var scrollTop = document.documentElement.scrollTop || window.pageYOffset || document.body.scrollTop;
      if (document.documentElement.scrollHeight - scrollTop - document.documentElement.clientHeight < 10) {
        loadGoods();
      }
    }
    var avatarDom = document.getElementById('avatar');
    if (avatarDom) {
      avatarDom.style.cssText += 'height:' + avatarDom.offsetWidth + 'px;';
    }
    var app = new Vue({
      el: '#app',
      data: {
        title: 'title',
        user: user,
        activeFooterIndex: 1,
        banners: [],
        goodslist: [],
        tags: [
          {
            name: '精品',
            img: 'http://api.wancll.wygoo.com/data/upload/file/20180227/5a9559dbd0d09.png',
          },
          {
            name: '新品',
            img: 'http://api.wancll.wygoo.com/data/upload/file/20180227/5a9559dc6efb6.png',
          },
          {
            name: '热销',
            img: 'http://api.wancll.wygoo.com/data/upload/file/20180227/5a9559dc21810.png',
          },
          {
            name: '折扣',
            img: 'http://api.wancll.wygoo.com/data/upload/file/20180227/5a9559db2e958.png',
          },
          {
            name: '清仓',
            img: 'http://api.wancll.wygoo.com/data/upload/file/20180227/5a9559dcafae3.png',
          },
        ],
        bannerGoodsList: [],
        annoncements: [],
        discountActivity: {
          rule_info: []
        },
        // 广告
        advertisements: [],
        // logo
        logo: '',
      },
      methods: {
        // 去链接设置的模型
        goModel: function (content) {
          if (content.is_open_model == 1) {
            if (content.model == 'goods') {
              goto('goods_detail', { goodsId: content.model_id })
            } else if (content.model == 'article') {
              goto('article_detail', { type: 'articles', articleId: content.model_id });
            } else if (content.model == 'goods_cate') {
              goto('goods_list');
            }
          } else {
            content.href && (location = content.href);
          }
        },
        // 去商品详情
        goGoodsDetail: function (goodsId) {
          goto('goods_detail', { goodsId: goodsId })
        },
        // 去商品集合
        goGoodsList: function (tag) {
          goto('goods_list_model', {
            tag: tag.name
          })
        },
        // 去公告
        goAnnoncements: function (annoncement) {
          goto('article_detail', { type: 'annoncements', articleId: annoncement.id });
        },
        // 去广告
        goAd: function (ad) {
          if (ad.model == 'goods') {
            goto('goods_detail', { goodsId: ad.model_id });
          } else if (ad.model == 'article') {
            goto('article_detail', { articleId: ad.model_id, type: 'articles' });
          } else if (ad.model == 'goods_cate') {
            goto('goods_list_model', { cateId: ad.model_id });
          } else {
            location = ad.href;
          }
        }
      },
      computed: {

      },
      filters: {
        timeFilter: function (value) {
          value = Math.floor(value / 1000);
          var day = Math.floor(value / 86400);
          value %= 86400;
          var hour = Math.floor(value / 3600);
          hour = hour < 10 ? '0' + hour : hour;
          value %= 3600;
          var minute = Math.floor(value / 60);
          minute = minute < 10 ? '0' + minute : minute;
          var second = value %= 60;
          second = second < 10 ? '0' + second : second;
          return day + '天 ' + hour + ': ' + minute + ': ' + second;
        }
      },
      mounted: function () {
        var that = this;
        // 首页轮播图
        httpRequest('POST', 'api_articles/banners/lists', { type: 'wap首页轮播' }, {}, false).then(function (resp) {
          that.banners = resp.data;
          setTimeout(() => {
            carouselInit('#owl-carousel1', 1)
          }, 50);
        })
      }
    });
    var page = 1;
  </script>
</body>

</html>