<!-- 新建html模板页 -->

{include file="/index/top" /}
<script src="__static__/common/js/qrcode.min.js"></script>
<style>
  #qrcode {
    position: absolute;
    top: 28%;
    left: 50%;
    z-index: 9999;
    transform: translate(-50%, 0);
    padding: 5px 5px;
    background-color: #fff;
    border-radius: 0.2rem;
  }

  #qrcode img {
    padding: 5px 5px;
  }

  .aui-bar.aui-bar-light {
    background-image: none;
  }
</style>
</head>

<body>
  <div id="app">
    {include file="/index/header" /}
    <img src="__static__/wap/images/yaoqing.png" style="width: 100%;">
    <div id="qrcode">
    </div>
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        title: '我的二维码',
      },
      methods: {

      },
      mounted: function () {
        new QRCode(document.getElementById("qrcode"), location.origin + '/index.php/wap/index/register.html?reco_mobile=' + user.mobile);
      }
    })
  </script>
</body>

</html>