<!-- 新建html模板页 -->

{include file="/index/top" /}
</head>

<body>
  <div id="app">
    <header class="aui-bar aui-bar-nav aui-bar-light" id="header" style="background-color:#f4f4f4!important;">
      <a class="aui-pull-left aui-btn" onclick="history.back();">
        <span class="aui-iconfont aui-icon-left" style="color:#333!important;"></span>
      </a>
      <div class="aui-title" v-text="title" style="color:#333!important;"></div>
    </header>

    <div class="area aui-text-center">
      <h1 style="color: #1E90FF;margin: 20px;">iBidding</h1>
      <div class="mix">
        <i class="aui-iconfont aui-icon-mobile"></i>
        <input type="text" class="input short" pattern="[0-9]*" onkeyup="value=value.replace(/[^\d]/g,'')" :disabled="user" placeholder="输入手机号码"
          v-model="mobile">
        <div class="get-varicode" onclick="sendVaricode(this, 2)">发送验证码</div>
      </div>

      <div class="mix">
        <i class="aui-iconfont aui-icon-lock"></i>
        <input type="text" class="input" v-model="varicode" pattern="[0-9]*" placeholder="输入验证码">
      </div>
      <div class="mix">
        <i class="aui-iconfont aui-icon-lock"></i>
        <input type="password" class="input" placeholder="输入密码" v-model="password">
      </div>
      <div class="mix">
        <i class="aui-iconfont aui-icon-lock"></i>
        <input type="password" class="input" placeholder="确认密码" v-model="repassword">
      </div>
      <!-- <div class="other" style="width:100%;" v-if="!user">
                <p style="float:left;" onclick="goto('login')">返回登录</p>
            </div> -->
      <div class="submit" @click="doReset()">确认重置</div>
    </div>
  </div>
  <script>
    var type = querystring.type || 1;
    var app = new Vue({
      el: '#app',
      data: {
        title: type == 1 ? '重置登录密码' : '重置支付密码',
        mobile: user ? user.mobile : '',
        password: '',
        repassword: '',
        varicode: '',
        login_logo: '',
      },
      methods: {
        doReset: function () {
          if (!variTelephone(this.mobile)) {
            layer.msg('请填写正确的手机号')
            return;
          }
          if (this.password == '') {
            layer.msg('请填写密码')
            return;
          }
          if (!variPassword(this.password)) {
            layer.msg('密码限制6-20位大小写字母数字组合');
            return;
          }
          if (this.varicode == '') {
            layer.msg('请填写验证码')
            return;
          }
          if (this.password != this.repassword) {
            layer.msg('两次输入的密码不一致');
            this.repassword = '';
            return;
          }
          var router = type == 1 ? 'api_users/user_accounts/reset_password' : 'api_users/user_accounts/reset_pay_password';
          var data = {
            mobile: this.mobile,
            code: this.varicode,
          };
          if (type == 1) {
            data.password = this.password;
            data.password_confirm = this.repassword;
          } else {
            data.pay_password = this.password;
            data.pay_password_confirm = this.password;
          }
          httpRequest('POST', router, data)
            .then(function (ret) {
              layer.msg(ret.msg);
              if (type == 1) {
                rmStorage(getClientType() + 'User');
                rmStorage(getClientType() + 'Token');
                clearStorage(sessionStorage);
                setTimeout(function () {
                  goto('login');
                }, 500)
              } else {
                setTimeout(function () {
                  history.back();
                }, 500)
              }
            })
        },
      },
      mounted: function () {
        var that = this;
        httpRequest('POST', 'api_query/configs/wap_logo').then(function (resp) {
          that.login_logo = resp.data.login_logo || '__static__/wap/images/wap_logo.png';
        })
      }
    })

    sendVaricode = function (evn, type) {
      if (wait == 90) {
        var mobile = app.mobile;
        if (!variTelephone(mobile)) {
          layer.msg('请填写正确的手机号码')
          return;
        }
        httpRequest('POST', 'api_systems/helper/send_code', {
          mobile: mobile,
          type: type
        }).then(function (resp) {
          layer.msg(resp.msg)
          if (resp.code == 1) {
            sendclick(evn);
          }
        })
      }
    }

    wait = 90;
    sendclick = function (evn) {
      var obj = $(evn);
      if (wait == 0) {
        obj.attr('disabled', false);
        obj.text('获取验证码');
        obj.css('backgroundColor', '#358cff');
        wait = 60;
      } else {
        obj.css('backgroundColor', '#696969');
        obj.attr('disabled', true);
        obj.text(wait + '秒再次发送');
        wait--;
        setTimeout(function () {
          sendclick(evn);
        }, 1000);
      }
    }
  </script>
</body>

</html>