<!-- 新建html模板页 -->

{include file="/index/top" /}
</head>

<body>
  <div id="app">
    <!-- 中间页 -->
    <div class="aui-content">
      <ul class="aui-list aui-list aui-media-list aui-bg-default" style="background-image:none;">
        <li class="aui-list-item aui-list-item-middle aui-margin-t-10 aui-margin-b-10 aui-bg-white" v-for="(activity, key) in activities"
          :key="key" @click="selectActivity(activity)">
          <!-- 优惠券 -->
          <div class="aui-media-list-item-inner" v-show="type == 'coupon'">
            <div class="aui-list-item-inner aui-list-item-arrow">
              <div v-show="activity.coupon_type == 'full'" class="aui-list-item-title">{{'满' + activity.reach_money + '元减' + activity.change_value + '元' }}</div>
              <div v-show="activity.coupon_type == 'discount'" class="aui-list-item-title">{{'满' + activity.reach_money + '元打' + activity.change_value + '折' }}</div>
              <div class="aui-list-item-text" v-text="'失效时间: ' + activity.expiry_time"></div>
            </div>
          </div>
          <!-- 满减 -->
          <div class="aui-media-list-item-inner" v-show="type == 'full'">
            <div class="aui-list-item-inner aui-list-item-arrow">
              <div class="aui-list-item-title">{{'满' + activity.full_money + '元减' + activity.reduce_money + '元' }}</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <script>
    var index = parent.layer.getFrameIndex(window.name);
    if (parent.app.selectedMarketType == 'coupon') {
      var activities = JSON.parse(JSON.stringify(parent.app.coupons))
    } else if (parent.app.selectedMarketType == 'full') {
      var activities = JSON.parse(JSON.stringify(parent.app.fulls))
    }
    var app = new Vue({
      el: '#app',
      data: {
        activities: activities,
        type: parent.app.selectedMarketType
      },
      methods: {
        selectActivity: function (activity) {
          parent.app.selectedMarketActivity = JSON.parse(JSON.stringify(activity))
          parent.layer.close(index);
        }
      },
      computed: {

      },
      filters: {

      },
      mounted: function () {

      }
    })
  </script>
</body>

</html>