{include file="/index/top" /}
<script src="__static__/common/css/ali_icon/iconfont.js"></script>
<style>
	body,
	html {
		background-color: #f4f4f4;
	}

	html {
		margin: 0;
		padding: 0;
	}

	#bl {
		border: 1px solid #dedede;
		overflow: hidden;
	}

	.resetactive {
		background: #108ee9!important;
	}
</style>
</head>

<body>
	<div id="app">
		<div class="white padding-tt-15">
			<div class="w1200 over margin-tt-15">
				<div class="over">
					<!-- <div class="left margin-right-10" onclick="goto('index')">
						<img src="__static__/portal/img/logo.png" alt="">
						<div class="center margin-5 grey-text text-darken-2">开创智慧新商业</div>
					</div> -->
					<div class="left margin-right-10" onclick="goto('index')" style="cursor: pointer;">
						<div class="center text-ligthen-1 font-size-20 padding-10 margin-5">iBidding</div>
					</div>
					<div class="login-ti-border-left left grey-text text-ligthen-1 font-size-20 padding-10 margin-5">基于Internet的招投标信息智能推送系统</div>
				</div>
				<div class="right">
					<!-- <span class="grey-text font-size-14">已有账号？</span> -->
					<span class="blue-text font-size-14 bt" onclick="goto('register')"></span>
				</div>
			</div>
		</div>
		<div class="w1200 margin-tt-15 white">
			<div class="over regoster-content">
				<h5 class="center black-text" v-text="articles.title"></h5>
				<p class=" center grey-text text-darken-2 padding-tt-15 margin-btn-15" v-text="articles.intro"></p>
				<div class="grey-text text-darken-1 font-size-14" v-html="articles.content">
				</div>
			</div>
		</div>
		<div class="margin-top-15 padding-tt-15 center white">
			<!-- <div class="over black-text inline-black margin-tt-15 padding-top-15">
				<div class="left login-border-right margin-left-15  padding-right-15 pointer" v-for="(blogroll,key) in blogrolls" :key="key" v-text="blogroll.name" @click="gogoblogroll(blogroll.href)"></div>
			</div> -->
			<div class="black-text margin-tt-10">E-mail：jianhaihao@gmail.com</div>
		</div>
	</div>
</body>

<script>
	var app = new Vue({
		el: '#app',
		data: {
			articles: {},
			blogrolls: ''
		},
		methods:{
			gogoblogroll:function(href) {
				window.open(href)
			}
		},
		mounted: function () {
			httpRequest('POST', 'api_articles/articles/read', { id: querystring.articleId }, function (resp) {
				app.articles = resp.data;
			});
			// 底部
			httpRequest('post', 'api_articles/friendly_links/lists', { type: "foots" }, function (resp) {
				app.blogrolls = resp.data
			});
		}
	})
</script>

</html>