{include file="/index/top" /}
<link rel="stylesheet" href="__static__/OwlCarousel2-2.2.1/assets/owl.carousel.min.css">
<link rel="stylesheet" href="__static__/OwlCarousel2-2.2.1/assets/owl.theme.default.min.css">
<script src="__static__/OwlCarousel2-2.2.1/owl.carousel.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style type="text/css">
	body {
		background: #f4f4f4;
	}

	.search-list-cont1 {
		border-radius: 4px;
		background-color: #ffffff;
		box-sizing: border-box;
		margin-top: 24px;
		margin-bottom: 8px;
		padding-left: 30px;
		padding-right: 30px;
	}

	.search-list-cont1 .search-nav {
		line-height: 60px;
		border-bottom: 1px solid #eeeeee;
	}

	.search-list-cont1 .search-nav:last-child {
		border-bottom: 0px;
	}

	.search-list-cont1 .search-nav p {
		margin-right: 32px;
		color: #000000;
	}

	.search-list-cont1 .search-nav a {
		color: #878787;
		margin-right: 20px;
	}

	.search-list-cont1 .search-nav a:hover {
		color: #108ee9;
	}

	.search-list-cont1 .search-nav a.on {
		color: #108ee9;
	}

	.search-list-cont1 .search-nav.mr-33 a {
		margin-right: 33px;
	}

	.search-list-cont2 {
		padding: 0 30px;
		box-sizing: border-box;
		background-color: #ffffff;
		border-radius: 4px;
	}

	.search-keyword {
		line-height: 70px;
	}

	.search-keyword .title {
		color: rgb(164, 164, 164);
	}

	.search-keyword a {
		color: rgb(164, 164, 164);
		line-height: 1;
		padding: 0 10px;
		border-right: 1px solid #bdbdbd;
	}

	.search-keyword a:last-child {
		border-right: 0px;
	}

	.search-keyword a:hover {
		color: #ff2b2b;
	}

	.search-list-cont2 {
		padding-bottom: 50px;
		margin-bottom: 22px;
	}

	.search-list-cont2 .search-list li {
		width: 100%;
		margin-right: 22px;
		float: left;
		border: 1px solid #efeeee;
		box-sizing: border-box;
		margin-bottom: 22px;
	}

	.search-list-cont2 .search-list li:nth-child(5n) {
		margin-right: 0px;
	}

	.search-list-cont2 .search-list li .img-top {
		border-bottom: 1px solid #efeeee;
	}

	.search-list-cont2 .search-list li .cont2-bottom {
		width: 100%;
		height: auto;
		box-sizing: border-box;
		padding: 14px 14px 10px 10px;
	}

	.search-list-cont2 .search-list li .cont2-bottom .title {
		color: rgb(40, 40, 40);
		line-height: 1.3;
	}

	.search-list-cont2 .search-list li .cont2-bottom .price {
		float: left;
		color: rgb(221, 9, 9);
		line-height: 27px;
	}

	.search-list-cont2 .search-list li .cont2-bottom .mun {
		float: right;
		color: rgb(85, 85, 85);
		line-height: 27px;
	}

	.fen-page {
		text-align: center;
		margin-top: 34px;
		width: 100%;
		height: 34px;
	}

	.fen-page a {
		width: 34px;
		height: 34px;
		text-align: center;
		line-height: 34px;
		font-size: 14px;
		color: rgb(255, 254, 254);
		margin: 0 3px;
		transition: all .2s;
		-moz-transition: all .2s;
		-webkit-transition: all .2s;
		-o-transition: all .2s;
	}

	.fen-page a span:hover {
		background-color: #108ee9;
	}

	.search-list-cont3 {
		width: 100%;
		padding: 30px 17px 37px 17px;
		background-color: #ffffff;
		border-radius: 4px;
		box-sizing: border-box;
		margin-bottom: 40px;
	}

	.search-list-cont3 .cont3-title {
		margin: 30px auto;
		width: 180px;
		text-align: center;
		font-size: 18px;
		color: rgb(71, 71, 71);
		position: relative;
	}

	.search-list-cont3 .cont3-title:after {
		content: "";
		width: 50px;
		height: 1px;
		background-color: #d2d2d2;
		position: absolute;
		top: 10px;
		right: -50px;
	}

	.search-list-cont3 .cont3-title:before {
		content: "";
		width: 50px;
		height: 1px;
		background-color: #d2d2d2;
		position: absolute;
		top: 10px;
		left: -50px;
	}

	.search-list-cont3 .cont3-bottom li {
		float: left;
		width: 276px;
		margin-right: 20px;
	}

	.search-list-cont3 .cont3-bottom li:last-child {
		margin-right: 0px;
	}

	.current {
		background: #108ee9!important;
	}
</style>

</head>

<body>
	{include file="/index/header" /}

	<div class="w1200" id="app">
		<div class="search-list-cont2 padding-top-15">
			<div class="search-list">
				<ul>
					<li class="pointer">
						<div class="cont2-bottom" style="margin: 0 auto;text-align: center;">
							<h5>信息详情</h5>
							<div style="width: 50%;height: auto;text-align: left;margin: 0 auto;color: #000;">
								<div style="margin: 30px;">
									<b>信息标题：</b><span v-text="bid.title"></span>
								</div>
								<div style="margin: 30px;">
									<b>信息类型：</b><span style="color: #f00" v-text="'【'+bid.type+'】'"></span>
								</div>
								<div style="margin: 30px;">
									<b>采购人：</b><span v-text="bid.purchaser"></span>
								</div>
								<div style="margin: 30px;">
									<b>信息地区：</b><span v-text="bid.area"></span>
								</div>
								<div style="margin: 30px;">
									<b>发布时间：</b><span v-text="bid.issue_time"></span>
								</div>
								<div style="margin: 30px;">
									<b>查看源信息：</b><a :href="bid.url">点击访问>></a>
								</div>
							</div>
							<!-- <a class="title font-size-14 margin-btn-15" v-text="(page_num-1)*page_limit+bidKey+1+'. '+bid.title"></a>
							<div class="clearfix">
								<p class="price" v-text="'【'+bid.type+'】'"></p>
								<p class="mun font-size-12">发布时间：{{bid.issue_time}}</p>
							</div>
							<span v-for="(tag,tagKey) in bid.tags" :key="tagKey">
								<span style="margin-right: 10px;" v-if="tagKey == 0" v-text="'信息标签：['+tag+']'"></span>
								<span style="margin-right: 10px;" v-else v-text="'['+tag+']'"></span>
							</span> -->
						</div>
					</li>
				</ul>
				<div class="fen-page">
					点击收藏
				</div>
			</div>
		</div>
	</div>

	{include file="index/footer" /}
	<script>
		$(document).ready(function () {
			$('.search-keyword a').click(function () {
				var keysear = $(this).text();

				window.location = '/portal/index/search_list?keyword=' + keysear;
			});
		});
		var app = new Vue({
			el: '#app',
			data: {
				bid: [],
			},
			methods: {
				
			},
			mounted: function () {
				// 加载当前标签
				httpRequest('POST', 'api_bids/bids/read',{id:querystring.bidId},function (resp) {
					app.bid = resp.data;
				})
			},
		})
	</script>
</body>

</html>