<div id="header">
	<div class="header-nav">
		<nav class="w1200">
			<div class="nav-wraper">
				<ul class="left hide-no-medand-down">
					<li class="margin-lr-15" v-for="(logo,key) in logos" :key="key" v-text="logo.index_title" style="width: 130px;"></li>
					<li class="margin-lr-15 bt relative wap-qrcodehover">
						<i class="iconfont icon-shouji blue-text bt"></i><span v-for="(logo,key) in logos" :key="key" v-text="logo.go_mobile"></span>
						<div id="wap-qrcode">
						</div>
					</li>
				</ul>
				<ul class="right hide-no-medand-down">
					<li class="margin-lr-15 bt" @click="gohome()">
						<i v-if="user" class="iconfont icon-peoplefill blue-text"></i>
						<span v-if="user" v-text=" user.nick_name ||  user.mobile "></span>
						<!-- <span v-else>未登录</span> -->
					</li>
					<li v-if="user" class="margin-lr-15 bt" @click="gologin()">
						退出登录</li>
					<li v-else class="margin-lr-15 bt" @click="goto('login')">
						登录</li>
					<li class="margin-lr-15 bt" @click="gocart()">
						<i class="iconfont icon-xiexinzhangjie blue-text"></i> 我的收藏</li>
					<li class="margin-lr-15 bt" @click="goorder()">
						<i class="iconfont icon-icon_order blue-text"></i> 我的订阅</li>
					<!-- <li class="margin-lr-15 bt">
						<i class="iconfont icon-custom-service blue-text"></i> 联系客服</li> -->
				</ul>
			</div>
		</nav>
	</div>
	<div class="white over" style="padding-top: 25px;width: 100%;">
		<div class="row w1200 margin-top-15 grey-text text-darken-2">
			<div class="col s3 left">
				<!-- <div class=" relative" @click="goto('index')" v-for="(logo,key) in logos" :key="key">
					<img :src="logo.img" class="margin-top-10">
					<div class="margin-top-10 logo-text" v-text="logo.title"></div>
					<div class="header-nav-line"></div>
				</div> -->
				<div class="relative" @click="goto('index')">
					<h5 style="cursor: pointer;color: #1a6da6;font-weight: 10px;">iBidding</h5>
				</div>
			</div>
			<div class="col s6">
				<div class="bor-inp blue center flex">
					<input type="" id="inpwords" name="inpwords" placeholder="请输入搜索关键词" style="border: none;flex: 1;" v-model="search_text">
					<i class="iconfont icon-sousuo dp48" id="clicsearch" @click="goSearch()"></i>
				</div>
				<div class="over margin-top-10 margin-left-15" style="margin-left:20px; width: 525px;cursor:default">
					<div class="left padding-lr-5 biaoqian hoverblue" v-for="(goods_keyword,key) in goods_keywords" :key="key" v-text="goods_keyword.keyword"
					 @click="goSearch(goods_keyword.keyword)"></div>
				</div>
			</div>
			<div class="col s3">
				<div class="row tr-icon">
					<div class="col s4 center margin-top-5">
						<i>新</i>
						<p class="margin-top-5" style="color: rgb(38, 38, 38)">最新数据</p>
					</div>
					<div class="col s4 center margin-top-5">
						<i class="iconfont icon-lightningbshandian"></i>
						<p class="margin-top-5" style="color: rgb(38, 38, 38)">极速查找</p>
					</div>
					<div class="col s4 center margin-top-5">
						<i class="iconfont icon-shouhouwuyou"></i>
						<p class="margin-top-5" style="color: rgb(38, 38, 38)">个性订阅</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="minwid1200">
		<div class="sblue" style="height: 41px;">
			<div class="flex w1200 header-blue-nav" style="margin-bottom: 0;position: relative;">
				<a class="nav-qita center white-text padding-tt-10" href="/">首页</a>
				<a class="nav-qita center white-text padding-tt-10 bt" @click="godiscount();">信息检索</a>
				<a class="nav-qita center white-text padding-tt-10" href="/portal/index/coupon">最新消息</a>
			</div>
		</div>
	</div>
</div>
<script src="__static__/common/script/qrcode.min.js"></script>
<script>
	var header = new Vue({
		el: "#header",
		data: {
			carts: 0,
			user: user,
			cates: [],
			goods_keywords: [],
			discountIsselect: false,
			search_text: '',
			logos: ''
		},
		methods: {
			gologin: function () {
				if (user) {
					layer.confirm('确认退出登录?', {
						title: '提示',
					}, function (index) {
						layer.close(index);
						rmStorage(getClientType() + 'User');
						rmStorage(getClientType() + 'Token');
						clearStorage(sessionStorage);
						goto('index')
					})
				}
			},
			goSearch: function (data) {
				if (this.search_text) {
					goto('search_list', { keyword: header.search_text });
				}
				goto('search_list', { keyword: data });
			},
			gohome: function () {
				if (user) {
					goto('setting');
				} else{
					goto('login')
				}
			},
		},
		mounted: function () {
			var that = this;
			// 首页logo
			httpRequest('POST', 'api_query/configs/pc_logo', {}, function (resp) {
				if (resp.code == 1) {
					header.logos = resp.data;
				}
			})

			// 首页logo
			httpRequest('POST', 'api_systems/params/index', {
				type:"basic"
			}, function (resp) {
				if (resp.code == 1) {
				var title = document.getElementsByTagName('title')[0];
				  title.text = resp.data.system_name;
				}
			})
    	}
  	})

	new QRCode(document.getElementById("wap-qrcode"), location.origin);

	$('#navigation').click(function () {
		$('.nav-ul').stop().animate({ height: "460px" }, 500)
		if ($('.nav-ul').height() == 460) {
			$('.nav-ul').stop().animate({ height: "41px" }, 500)
		}
	});
	$('#clicsearch').click(function () {
		var keysear = $("input[name='inpwords']").val();
		window.location = '/portal/index/search_list?keyword=' + keysear;
	});
	$('#inpwords').bind('keyup', function (event) {
		if (event.keyCode == "13") {
			var keysear = $("input[name='inpwords']").val();
			window.location = '/portal/index/search_list?keyword=' + keysear;
		}
	});
</script>