 {include file="/index/top" /}
<script src="__static__/common/script/qrcode.min.js"></script>
<style>
  .indexgoods-img {
    height: 160px;
    padding-top: 20px;
    width: 140px;
  }

  .next-btn {
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 42px;
    opacity: 0.4;
    font-size: 30px;
    cursor: pointer;
  }

  .last-btn {
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 42px;
    opacity: 0.4;
    font-size: 30px;
    cursor: pointer;
  }

  .banner-btn {
    width: 1400px;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 200px;
    transform: translate(-50%, -50%)
  }

  .banner-btn div:hover {
    opacity: 0.8;
  }

  .nav-li:hover .nav-beijin {
    opacity: 0.9;
  }

  .nav-li:hover .line {
    background: #333
  }

  .index-red-btn {
    background: #f63030;
    color: #fff;
    height: 32px;
    line-height: 32px;
    width: 167px;
    text-align: center
  }

  .get-Coupon {
    color: #282828;
    text-align: center;
    height: 22px;
    line-height: 22px;
    width: 70%;
    cursor: pointer;
  }

  #activity-qrcode img {
    width: 100%
  }

  .actives {
    background-color: #108ee9 !important;
    color: #fff !important;
  }

  .con {
    width: 300px;
    height: 30px;
    overflow: hidden;
    float: right;
  }

  .list {
    width: 100%;
  }

  .list li {
    width: 100%;
    height: 30px;
    line-height: 30px;
    float: left;
    text-align: left;
  }

  .list li a {
    float: left;
  }
</style>
</head>

<body>
  {include file="/index/header" /}
  <div class="contine minwid1200" id="app">
    <div class="banner-btn">
      <div class="next-btn  white-text black radius50 left">
        <i class="iconfont icon-xiangzuo1" style="font-size: 20px;"></i>
      </div>
      <div class="last-btn white-text black radius50 right">
        <i class="iconfont icon-xiangyou1" style="font-size: 20px;"></i>
      </div>
    </div>
    <div class="banner white">
      <div class="carousel carousel-slider" style="height: 420px;width: 1400px;transform: translateX(-50%);left: 50%;">
        <!-- <a class="carousel-item" :href="banner.href" v-for="(banner,key) in banners"> -->
        <a class="carousel-item" v-for="(banner,key) in banners">
          <img :src="banner.img">
        </a>
      </div>
    </div>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        articles: [],
        timestam: [],
        title: '首页',
        carts: 0,
        user: user,
        contents: [],
        goodslist: [],
        banners: [],
        discountIsselect: true,
        advertisings: []
      },
      methods: {
        goOuter: function (hr) {
          window.open(hr.href)
        },
        goArticle: function (id) {
          goto('article', { articleId: id })
        },
      },
      computed: {

      },
      filters: {
        timeFilter: function (value) {
          if (!value) {
            return '';
          }
          value = Math.floor(value / 1000);
          var day = Math.floor(value / 86400);
          value %= 86400;
          var hour = Math.floor(value / 3600);
          value %= 3600;
          var minute = Math.floor(value / 60);
          var second = value %= 60;
          function times(hour) {
            var t = (hour + '').length,
              s = '';
            for (var i = 0; i < 2 - t; i++) {
              s += '0';
            }
            return s
          }
          return times(day) + day + ': ' + times(hour) + hour + ': ' + times(minute) + minute + ': ' + times(second) + second;
        }
      },
      mounted: function () {
        var that = this;

        page = 1;
          
        httpRequest('POST', 'api_query/configs/pc_index', {}, function (resp) {
          if (resp.data) {
            that.contents = resp.data;
            // fns()
          }
        })


        // httpRequest('POST', 'api_articles/advertisements/lists', {
        //   type: 'pc广告'
        // }, function (resp) {
        //   that.advertisings = resp.data
        // }, {}, false)

        httpRequest('POST', 'api_articles/banners/lists', {
          type: "pc首页轮播"
        }, function (resp) {
          that.banners = resp.data;
          setTimeout(getBanners, 200);
        })
        // new QRCode(document.getElementById('right-qrcode'), "http://wancllshop.wx.wygoo.com/wap/index/index.html");
        // new QRCode(document.getElementById('activity-qrcode'), "http://wancllshop.wx.wygoo.com/wap/index/index.html");
      }
    })

    function getTime(value) {
      if (!value) {
        return '';

      }
      value = Math.floor(value / 1000);
      var day = Math.floor(value / 86400);
      value %= 86400;
      var hour = Math.floor(value / 3600);
      value %= 3600;
      var minute = Math.floor(value / 60);
      var second = value %= 60;
      function times(hour) {
        var t = (hour + '').length,
          s = '';
        for (var i = 0; i < 2 - t; i++) {
          s += '0';
        }
        return s
      }
      var timeS = '';
      app.timestam = [];
      var timeS = times(day) + day + ':' + times(hour) + hour + ':' + times(minute) + minute + ':' + times(second) + second;
      for (var index = 0; index < timeS.length; index++) {
        var ti = timeS.charAt(index);
        app.timestam.push(ti)
      }

    }



    // fns = function () {
    //   $(function () {
    //     //1.楼梯什么时候显示，800px scroll--->scrollTop
    //     $(window).on('scroll', function () {
    //       var $scroll = $(this).scrollTop();
    //       if ($scroll >= 800) {
    //         $('#loutinav').show();
    //       } else {
    //         $('#loutinav').hide();
    //       }

    //       //4.拖动滚轮，对应的楼梯样式进行匹配
    //       $('.louti').each(function () {
    //         var $loutitop = $('.louti').eq($(this).index()).offset().top + 400;
    //         if ($loutitop > $scroll) {
    //           $('#loutinav div').removeClass('actives');
    //           $('#loutinav div').eq($(this).index()).addClass('actives');
    //           return false;//中断循环 
    //         };
    //       });
    //     });
    //     //2.获取每个楼梯的offset().top,点击楼梯让对应的内容模块移动到对应的位置  offset().left

    //     var $loutili = $('#loutinav div').not('.lasts');
    //     $loutili.on('click', function () {
    //       $(this).addClass('active').siblings('div').removeClass('active');
    //       var $loutitop = $('.louti').eq($(this).index()).offset().top;
    //       //获取每个楼梯的offsetTop值
    //       $('html,body').animate({
    //         scrollTop: $loutitop
    //       })
    //     });
    //     //3.回到顶部
    //     $('#last').on('click', function () {
    //       // window.scrollTo(0,0)
    //       $('html,body').animate({
    //         scrollTop: 0
    //       })
    //     });
    //     $('#gotoicon').on('mouseover', function () {
    //       $('#last').stop().animate({ right: "58" })
    //       return;
    //     })
    //     $('#gotoicon').on('mouseout', function () {
    //       $('#last').stop().animate({ right: "-22" })
    //       return;
    //     })
    //     $('#last').on('mouseover', function () {
    //       $('#last').stop().animate({ right: "58" })
    //       return;
    //     })
    //     $('#last').on('mouseout', function () {
    //       $('#last').stop().animate({ right: "-22" })
    //       return;
    //     })
    //   })
    // }
  </script>
  <script>
    function loadScript(url, callback) {
      var script = document.createElement("script");
      script.type = "text/javascript";
      if (typeof (callback) != "undefined") {
        if (script.readyState) {
          script.onreadystatechange = function () {
            if (script.readyState == "loaded" || script.readyState == "complete") {
              script.onreadystatechange = null;
              callback();
            }
          };
        } else {
          script.onload = function () {
            callback();
          };
        }
      }
      script.src = url;
      document.body.appendChild(script);
    }

    getBanners = function () {
      loadScript("__static__/portal/js/materialize.min.js", function () { //加载,并执行回调函数
        $('.carousel.carousel-slider').carousel({
          time_constant: 100,
          full_width: true,
          indicators: true,
          no_wrap: false
        });
        $('.next-btn').on('click', function () {
          $('.carousel').carousel('next');
        })
        $('.last-btn').on('click', function () {
          $('.carousel').carousel('prev');
        })
        var settime = setInterval(function () {
          $('.carousel').carousel('prev');
        }, 3000)
        $('.banner').on('mousemove', function () {
          clearInterval(settime);
        })
      });
    }
  </script> {include file="index/footer" /}
</body>

</html>