{include file="/index/top" /}
<script src="__static__/common/css/ali_icon/iconfont.js"></script>
<style>
	body,
	html {
		background-color: #f4f4f4;
	}

	html {
		margin: 0;
		padding: 0;
	}

	#bl {
		border: 1px solid #dedede;
		overflow: hidden;
	}
	.resetactive{background:#108ee9!important;}
</style>
</head>

<body>
	<div id="app">
		<div class="white padding-tt-15">
			<div class="w1200 over">
				<div class="over">
					<div class="left margin-right-10">
						<img src="__static__/portal/img/logo.png" alt="">
						<div class="center margin-5 grey-text text-darken-2">开创智慧新商业</div>
					</div>
					<div class="login-ti-border-left left grey-text text-ligthen-1 font-size-20 padding-10 margin-5">找回密码</div>
				</div>
			</div>
		</div>
		<div class="w1200 margin-tt-15 white">
			<div class="over regoster-content">
				<div class="margin-tt-15 get-password-jindu">
					<div class="progress grey lighten-2" style="width: 95%;margin: auto;">
						<div class="determinate blue" id="liens"></div>
					</div>
					<div class="over get-password-line">
						<div class="left  font-size-16  margin-10">
							<span class="nember-blue inline-black white-text center" :class="{resetactive:(typelod > 0)}">1</span>
							<div class="black-text font-size-12 margin-top-10">输入账户</div>
						</div>
						<div class="left   font-size-16 center nember-margin" style="margin-right: 1px" >
							<span class="nember-grey inline-black white-text center" :class="{resetactive:(typelod > 1)}">2</span>
							<div class="black-text font-size-12 margin-top-10">验证身份</div>
						</div>
						<div class="left  font-size-16 center nember-margin">
							<span class="nember-grey inline-black white-text center" :class="{resetactive:(typelod > 2)}">3</span>
							<div class="black-text font-size-12 margin-top-10">设置新密码</div>
						</div>
						<div class="left font-size-16 center margin-10">
							<span class="nember-grey inline-black white-text center" :class="{resetactive:(typelod > 3)}">4</span>
							<div class="black-text font-size-12 margin-top-10">完成</div>
						</div>
					</div>
				</div>
				<div class="center margin-tt-15">
					<div class="get_password-input" v-if="typelod == 1">
						<div class="flex margin-tt-15 border-grey">
							<div class="get_password-type padding-lr-10 black-text">账户名</div>
							<input type="text" placeholder="手机号" class="flex1 black-text" onkeyup="value=value.replace(/[^\d]/g,'')" v-model="reset.mobile">
						</div>
						<div class="margin-tt-15 grey-text grey lighten-2 relative padding-15 border-grey" id="bl">
							请按住滑块滑动到最左边
							<div class="white black-text huabox " id="move" style="padding: 15px 20px;">》</div>
						</div>
						<div class="blue white-text padding-tt-15 margin-tt-15 radius5 bt" @click="sendqured(this,2)">发送验证码</div>
					</div>

					<div class="get_password-input" v-if="typelod == 2">
						<div class="flex margin-tt-15 border-grey">
							<div class="get_password-type padding-lr-10 black-text">验证码</div>
							<input type="text" class="flex1 black-text" placeholder="请输入验证码" onkeyup="value=value.replace(/[^\d]/g,'')" v-model="reset.varicode">
						</div>
						<div class="blue white-text padding-tt-15 margin-tt-15 radius5 bt"  @click="sendtwo()">下一步</div>
					</div>

					<div class="get_password-input" v-if="typelod == 3">
						<div class="flex margin-tt-15 border-grey">
							<div class="get_password-type padding-lr-10 black-text">设置新密码</div>
							<input type="password" placeholder="输入密码" class="flex1 black-text" v-model="reset.password">
						</div>
						<div class="flex margin-tt-15 border-grey">
							<div class="get_password-type padding-lr-10 black-text">确认密码</div>
							<input type="password" placeholder="确认密码" class="flex1 black-text" v-model="reset.repassword" @keyup.enter="doReset();">
						</div>
						<div class="blue white-text padding-tt-15 margin-tt-15 radius5 bt" @click="sendtree">完成</div>
					</div>
					<div class="get_password-input over" v-if="typelod == 4">
						<div class="center font-size-24 blue-text" style="margin:50px 0">
							恭喜您，重置密码成功！
						</div>
							<div class="blue white-text padding-tt-15 margin-tt-15 radius5 bt" @click="goto('login')">返回登陆</div>
						</div>
				</div>
			</div>
		</div>
		<div class="margin-top-15 padding-tt-15 center white">
			<div class="over black-text inline-black margin-tt-15 padding-top-15">
				<div class="left login-border-right margin-left-15  padding-right-15">关于我们</div>
				<div class="left login-border-right margin-left-15  padding-right-15">帮助中心</div>
				<div class="left login-border-right margin-left-15  padding-right-15">售后服务</div>
				<div class="left login-border-right margin-left-15 padding-right-15">配送于验收</div>
				<div class="left login-border-right margin-left-15 padding-right-15">关于我们</div>
				<div class="left login-border-right margin-left-15 padding-right-15">商务合作</div>
				<div class="left login-border-right margin-left-15 padding-right-15">联系方法</div>
				<div class="left login-border-right margin-left-15 padding-right-15">关于我们</div>
				<div class="left login-border-right margin-left-15 padding-right-15">关于我们</div>
			</div>
			<div class="black-text margin-tt-10">网络文化经营许可证：浙网文[2016]0155-055号 网开亿面公司版权所有©1997-2018 </div>
		</div>
	</div>
</body>

<script>
	document.getElementById('liens').style.width ="20%"
	var app = new Vue({
		el: '#app',
		data: {
			login: {},
			register: {},
			reset: {},
			currentScene: 'login',
			typelod: 1
		},
		methods: {
			sendqured: function (evn, type) {
				var move = parseInt(document.getElementById('move').style.left)
				var mobile = app.reset.mobile;
				if (!variTelephone(mobile)) {
					layer.msg('请填写正确的手机号码')
					return;
				}
				if (move != 286) {
					layer.msg('请滑动滑块')
					return;
				}
				httpRequest('POST', 'api_systems/helper/send_code', {
					mobile: mobile,
					type: type
				}).then(function (resp) {
					layer.msg(resp.msg)
					app.typelod++
					document.getElementById('liens').style.width ="50%"
				})
			},
			sendtwo: function () {
				if (app.reset.varicode == '') {
					layer.msg('请填写验证码')
					return;
				}
				app.typelod++
				document.getElementById('liens').style.width ="82%"
			},
			sendtree: function () {
				if (!variPassword(this.reset.repassword)) {
					layer.msg('密码限制6-20位大小写字母数字组合');
					return;
				}
				if (this.reset.repassword !== this.reset.password) {
					layer.msg('两次输入密码不一致')
					this.reset.repassword = '';
					return;
				}
				var data = {
					mobile: this.reset.mobile,
					code: this.reset.varicode,
				};
				data.password = this.reset.password;
                data.password_confirm = this.reset.repassword;
				httpRequest('POST', "api_users/user_accounts/reset_password", data)
					.then(function (ret) {
						document.getElementById('liens').style.width ="100%"
						app.typelod++
						layer.msg(ret.msg);
							rmStorage(getClientType() + 'User');
							rmStorage(getClientType() + 'Token');
							clearStorage(sessionStorage);
							// setTimeout(function () {
							// 	goto('login');
							// }, 500)
					})
			},
		},
	})

	scale = function (btn, bar) {
		this.btn = document.getElementById(btn);
		this.bar = document.getElementById(bar);
		this.init();
	};
	scale.prototype = {
		init: function () {
			var f = this, g = document, b = window, m = Math;
			f.btn.onmousedown = function (e) {
				var x = (e || b.event).clientX;
				var l = this.offsetLeft;
				var max = f.bar.offsetWidth - this.offsetWidth;
				g.onmousemove = function (e) {
					var thisX = (e || b.event).clientX;
					var to = m.min(max, m.max(0, l + (thisX - x)));
					f.btn.style.left = to + 'px';
					//此句代码可以除去选中效果
					b.getSelection ? b.getSelection().removeAllRanges() : g.selection.empty();
				};
				g.onmouseup = function () { this.onmousemove = null; };
			}
		}
	}
	new scale('move', 'bl');
</script>

</html>