{include file="/index/top" /}
<link rel="stylesheet" href="__static__/OwlCarousel2-2.2.1/assets/owl.carousel.min.css">
<link rel="stylesheet" href="__static__/OwlCarousel2-2.2.1/assets/owl.theme.default.min.css">
<script src="__static__/OwlCarousel2-2.2.1/owl.carousel.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style type="text/css">
	body {
		background: #f4f4f4;
	}

	.search-list-cont1 {
		border-radius: 4px;
		background-color: #ffffff;
		box-sizing: border-box;
		margin-top: 24px;
		margin-bottom: 8px;
		padding-left: 30px;
		padding-right: 30px;
	}

	.search-list-cont1 .search-nav {
		line-height: 60px;
		border-bottom: 1px solid #eeeeee;
	}

	.search-list-cont1 .search-nav:last-child {
		border-bottom: 0px;
	}

	.search-list-cont1 .search-nav p {
		margin-right: 32px;
		color: #000000;
	}

	.search-list-cont1 .search-nav a {
		color: #878787;
		margin-right: 20px;
	}

	.search-list-cont1 .search-nav a:hover {
		color: #108ee9;
	}

	.search-list-cont1 .search-nav a.on {
		color: #108ee9;
	}

	.search-list-cont1 .search-nav.mr-33 a {
		margin-right: 33px;
	}

	.search-list-cont2 {
		padding: 0 30px;
		box-sizing: border-box;
		background-color: #ffffff;
		border-radius: 4px;
	}

	.search-keyword {
		line-height: 70px;
	}

	.search-keyword .title {
		color: rgb(164, 164, 164);
	}

	.search-keyword a {
		color: rgb(164, 164, 164);
		line-height: 1;
		padding: 0 10px;
		border-right: 1px solid #bdbdbd;
	}

	.search-keyword a:last-child {
		border-right: 0px;
	}

	.search-keyword a:hover {
		color: #ff2b2b;
	}

	.search-list-cont2 {
		padding-bottom: 50px;
		margin-bottom: 22px;
	}

	.search-list-cont2 .search-list li {
		width: 100%;
		margin-right: 22px;
		float: left;
		border: 1px solid #efeeee;
		box-sizing: border-box;
		margin-bottom: 22px;
	}

	.search-list-cont2 .search-list li:nth-child(5n) {
		margin-right: 0px;
	}

	.search-list-cont2 .search-list li .img-top {
		border-bottom: 1px solid #efeeee;
	}

	.search-list-cont2 .search-list li .cont2-bottom {
		width: 100%;
		height: auto;
		box-sizing: border-box;
		padding: 14px 14px 10px 10px;
	}

	.search-list-cont2 .search-list li .cont2-bottom .title {
		color: rgb(40, 40, 40);
		line-height: 1.3;
	}

	.search-list-cont2 .search-list li .cont2-bottom .price {
		float: left;
		color: rgb(221, 9, 9);
		line-height: 27px;
	}

	.search-list-cont2 .search-list li .cont2-bottom .mun {
		float: right;
		color: rgb(85, 85, 85);
		line-height: 27px;
	}

	.fen-page {
		text-align: center;
		margin-top: 34px;
		width: 100%;
		height: 34px;
	}

	.fen-page a {
		width: 34px;
		height: 34px;
		text-align: center;
		line-height: 34px;
		font-size: 14px;
		color: rgb(255, 254, 254);
		margin: 0 3px;
		transition: all .2s;
		-moz-transition: all .2s;
		-webkit-transition: all .2s;
		-o-transition: all .2s;
	}

	.fen-page a span:hover {
		background-color: #108ee9;
	}

	.search-list-cont3 {
		width: 100%;
		padding: 30px 17px 37px 17px;
		background-color: #ffffff;
		border-radius: 4px;
		box-sizing: border-box;
		margin-bottom: 40px;
	}

	.search-list-cont3 .cont3-title {
		margin: 30px auto;
		width: 180px;
		text-align: center;
		font-size: 18px;
		color: rgb(71, 71, 71);
		position: relative;
	}

	.search-list-cont3 .cont3-title:after {
		content: "";
		width: 50px;
		height: 1px;
		background-color: #d2d2d2;
		position: absolute;
		top: 10px;
		right: -50px;
	}

	.search-list-cont3 .cont3-title:before {
		content: "";
		width: 50px;
		height: 1px;
		background-color: #d2d2d2;
		position: absolute;
		top: 10px;
		left: -50px;
	}

	.search-list-cont3 .cont3-bottom li {
		float: left;
		width: 276px;
		margin-right: 20px;
	}

	.search-list-cont3 .cont3-bottom li:last-child {
		margin-right: 0px;
	}

	.current {
		background: #108ee9!important;
	}

	.nav-3{
	    background-color: #43a7ef;
	}
</style>

</head>

<body>
	{include file="/index/header" /}

	<div class="w1200" id="app">
		<div class="search-list-cont1 padding-top-10">
			<div class="search-nav">
				<p class="title inline-black">类型标签:</p>
				<a class="bt" @click="selectalltype()">
					<span v-if="selectedtypeId == 'all'" style="color: #039be5">【全部】</span>
					<span v-else>全部</span>
				</a>
				<a class="bt" v-for="(type, typeKey) in types" :key="typeKey" @click="selecttype(type)">
					<span v-if="type.id == selectedtypeId" style="color: #039be5" v-text="'【'+type.name+'】'" ></span>
					<span v-else v-text="type.name"></span>
				</a>
			</div>
			<div class="search-nav mr-33">
				<a class="bt" v-for="(twotype,key) in twotypes" :key="key" @click="selectTwotype(twotype)">
					<span v-if="key == 0"><p class="title inline-black">子标签：</p></span>
					<span v-if="twotype.id == selectedtwotypeId" style="color: #039be5" v-text="'【'+twotype.name+'】'"></span>
					<span v-else v-text="twotype.name"></span>
				</a>
			</div>
		</div>
		<div class="search-list-cont1 padding-top-10">
			<div class="search-nav">
				<p class="title inline-black">地区标签:</p>
				<a class="bt" @click="selectallarea()">
					<span v-if="selectedareaId == 'all'" style="color: #039be5">【全部】</span>
					<span v-else>全部</span>
				</a>
				<a class="bt" v-for="(area, areaKey) in areas" :key="areaKey" @click="selectarea(area)">
					<span v-if="area.id == selectedareaId" style="color: #039be5" v-text="'【'+area.name+'】'" ></span>
					<span v-else v-text="area.name"></span>
				</a>
			</div>
			<div class="search-nav mr-33">
				<a class="bt" v-for="(twoarea,key) in twoareas" :key="key" @click="selectTwoarea(twoarea)">
					<span v-if="key == 0"><p class="title inline-black">子标签：</p></span>
					<span v-if="twoarea.id == selectedtwoareaId" style="color: #039be5" v-text="'【'+twoarea.name+'】'"></span>
					<span v-else v-text="twoarea.name"></span>
				</a>
			</div>
		</div>
		<div class="search-list-cont1 padding-top-10">
			<div class="search-nav">
				<p class="title inline-black">行业标签:</p>
				<a class="bt" @click="selectalltrade()">
					<span v-if="selectedtradeId == 'all'" style="color: #039be5">【全部】</span>
					<span v-else>全部</span>
				</a>
				<a class="bt" v-for="(trade, tradeKey) in trades" :key="tradeKey" @click="selecttrade(trade)">
					<span v-if="trade.id == selectedtradeId" style="color: #039be5" v-text="'【'+trade.name+'】'" ></span>
					<span v-else v-text="trade.name"></span>
				</a>
			</div>
			<div class="search-nav mr-33">
				<a class="bt" v-for="(twotrade,key) in twotrades" :key="key" @click="selectTwotrade(twotrade)">
					<span v-if="key == 0"><p class="title inline-black">子标签：</p></span>
					<span v-if="twotrade.id == selectedtwotradeId" style="color: #039be5" v-text="'【'+twotrade.name+'】'"></span>
					<span v-else v-text="twotrade.name"></span>
				</a>
			</div>
			<el-form-item label="下线时间" prop="offline_time">
                      <el-date-picker type="datetime" placeholder="选择下线时间" value-format="yyyy-MM-dd HH:mm:ss" :clearable="false">
                      </el-date-picker>
                    </el-form-item>
		</div>
		<div class="search-list-cont2 padding-top-15">
			<div v-if="haveNoData" class="search-none-cont1">
				<div class="content">
					<img class="img-logo" src="__static__/portal/images/search-logo.png">
					<p class="title">暂无您检索的数据~</p>
				</div>
			</div>
			<div v-else class="search-list">
				<ul>
					<li class="pointer" v-for="(bid,bidKey) in bidlist" :key="bidKey" @click="gobid(bid.id)" >
						<div class="cont2-bottom">
							<a class="title font-size-14 margin-btn-15" v-text="(page_num-1)*page_limit+bidKey+1+'. '+bid.title"></a>
							<div class="clearfix">
								<p class="price" v-text="'【'+bid.type+'】'"></p>
								<p class="mun font-size-12">发布时间：{{bid.issue_time}}</p>
							</div>
							<span v-for="(tag,tagKey) in bid.tags" :key="tagKey">
								<span style="margin-right: 10px;" v-if="tagKey == 0" v-text="'信息标签：['+tag+']'"></span>
								<span style="margin-right: 10px;" v-else v-text="'['+tag+']'"></span>
							</span>
						</div>
					</li>
				</ul>
				<div class="fen-page">
					<a v-if="page_num != 1" @click="goPage(1)">
						<span>首页</span>
					</a>
					<a style="cursor:default" v-for="n in totalpage" v-if="n>(page_num-4) && n<(page_num+4)"  @click="goPage(n)">
						<span v-if="totalpage <= 9">
							<span class="current" v-if="page_num == n">{{ n }}</span>
							<span v-else>{{ n }}</span>
						</span>
						<span v-else>
							<span class="current" v-if="page_num == n">{{ n }}</span>
							<span v-else>{{ n }}</span>
						</span>
					</a>
					<a v-if="page_num != totalpage" @click="goPage(totalpage)">
						<span>尾页</span>
					</a>
				</div>
			</div>
		</div>
	</div>

	{include file="index/footer" /}
	<script>
		$(document).ready(function () {
			$('.search-keyword a').click(function () {
				var keysear = $(this).text();

				window.location = '/portal/index/search_list?keyword=' + keysear;
			});
		});
		var page = 1;
		var typestr = '';
		var app = new Vue({
			el: '#app',
			data: {
				bidlist: [],
				types: [],
				twotypes: [],
				areas: [],
				twoareas: [],
				trades: [],
				twotrades: [],
				totalpage: 1,
				page_num: 1,
				page_limit: 10,
				haveNoData: false,
				selectedtypeId: 'all',
				selectedtypeName: '全部',
				selectedareaId: 'all',
				selectedareaName: '全部',
				selectedtradeId: 'all',
				selectedtradeName: '全部',
				selectedtwotypeId: '',
				selectedtwotypeName: '',
				selectedtwoareaId: '',
				selectedtwoareaName: '',
				selectedtwotradeId: '',
				selectedtwotradeName: '',
				annoncements:[],
			},
			methods: {
				selecttype: function (type) {
					app.twotypes = type._child;
					app.selectedtypeId = type.id;
					app.selectedtypeName = type.name;
					app.selectedtwotypeId = 0;
					app.selectedtwotypeName = '';
					app.bidlist = [];
					loadbid();
				},
				selectalltype: function () {
					app.twotypes = [];
					app.selectedtypeId = 'all';
					app.selectedtypeName = '全部';
					app.selectedtwotypeId = 0;
					app.selectedtwotypeName = '';
					app.bidlist = [];
					loadbid();
				},
				selectarea: function (area) {
					app.twoareas = area._child;
					app.selectedareaId = area.id;
					app.selectedareaName = area.name;
					app.selectedtwoareaId = 0;
					app.selectedtwoareaName = '';
					app.bidlist = [];
					loadbid();
				},
				selectallarea: function () {
					app.twoareas = [];
					app.selectedareaId = 'all';
					app.selectedareaName = '全部';
					app.selectedtwoareaId = 0;
					app.selectedtwoareaName = '';
					app.bidlist = [];
					loadbid();
				},
				selecttrade: function (trade) {
					app.twotrades = trade._child;
					app.selectedtradeId = trade.id;
					app.selectedtradeName = trade.name;
					app.selectedtwotradeId = 0;
					app.selectedtwotradeName = '';
					app.bidlist = [];
					loadbid();
				},
				selectalltrade: function () {
					app.twotrades = [];
					app.selectedtradeId = 'all';
					app.selectedtradeName = '全部';
					app.selectedtwotradeId = 0;
					app.selectedtwotradeName = '';
					app.bidlist = [];
					loadbid();
				},
				selectTwotype: function (type) {
					app.selectedtwotypeId = type.id;
					app.selectedtwotypeName = type.name;
					app.bidlist = [];
					loadbid();
				},
				selectTwoarea: function (area) {
					app.selectedtwoareaId = area.id;
					app.selectedtwoareaName = area.name;
					app.bidlist = [];
					loadbid();
				},
				selectTwotrade: function (trade) {
					app.selectedtwotradeId = trade.id;
					app.selectedtwotradeName = trade.name;
					app.bidlist = [];
					loadbid();
				},
				gobid: function (bidId) {
					goto('bid_detail', { bidId: bidId });
				},
				goPage: function (pagenum) {
					app.page_num = pagenum
					page = pagenum;
					app.bidlist = [];
					loadbid();
				},
				addcondition: function (type) {
					typestr = type;
					app.bidlist = [];
					loadbid();
				},
			},
			mounted: function () {
				// 加载类型标签
				httpRequest('POST', 'api_bids/bid_types/lists_tree',{},function (resp) {
					app.types = resp.data;
				})
				// 加载地区标签
				httpRequest('POST', 'api_bids/bid_areas/lists_tree',{},function (resp) {
					app.areas = resp.data;
				})
				// 加载行业标签
				httpRequest('POST', 'api_bids/bid_trades/lists_tree',{},function (resp) {
					app.trades = resp.data;
				})
			},
		})
		loadbid = function () {
			var data = {};
			//此处再添加addcondition的参数

			if (querystring.keyword) {
				data.keyword = decodeURIComponent(querystring.keyword);
				header.search_text = data.keyword;
			}

			if (app.selectedtypeId) {
				data.type_id = app.selectedtypeId;
				data.type_name = app.selectedtypeName;
			}

			if (app.selectedtwotypeId) {
				data.twotype_id = app.selectedtwotypeId;
				data.twotype_name = app.selectedtwotypeName;
			}

			if (app.selectedareaId) {
				data.area_id = app.selectedareaId;
				data.area_name = app.selectedareaName;
			}

			if (app.selectedtwoareaId) {
				data.twoarea_id = app.selectedtwoareaId;
				data.twoarea_name = app.selectedtwoareaName;
			}

			if (app.selectedtradeId) {
				data.trade_id = app.selectedtradeId;
				data.trade_name = app.selectedtradeName;
			}

			if (app.selectedtwotradeId) {
				data.twotrade_id = app.selectedtwotradeId;
				data.twotrade_name = app.selectedtwotradeName;
			}

			httpRequest('POST', 'api_bids/bids/lists', data,function (resp) {
				if (resp.data.length > 0) {
					app.totalpage = Math.ceil(resp.page.data_count / resp.page.page_limit);
					app.haveNoData = false;
					// app.page_num = resp.page.page_num;
					resp.data.forEach(function (item) {
						app.bidlist.push(item);
					})
				} else { //window.location.href='/portal/index/search_none';
					app.haveNoData = true;
				}
			},{
				'page-num': page,
				'page-limit': 10
			},)
		}
		loadbid();
	</script>
</body>

</html>