{include file="header" /}

<body>

  <section class="el-container  is-vertical">
    {include file="top" /}
    <section class="el-container">
      {include file="left" /}
      <section class="el-container  is-vertical">
        <main class="el-main" id="main">
          <div id="app">
            <fieldset>
              <legend>权限设置</legend>
            </fieldset>
            <!-- 树形结构 -->
            <el-row>
              <el-col :span="12">
                <el-card>
                  <div slot="header">
                    <span>菜单权限设置</span>
                    <el-button v-show="!isSelectedAll" type="text" style="float:right;" size="mini" @click="selectAll()">全选</el-button>
                    <el-button v-show="isSelectedAll" type="text" style="float:right;" size="mini" @click="selectAll()">取消全选</el-button>
                  </div>
                  <el-input placeholder="搜索菜单" v-model="filterText" style="margin-bottom: 10px;" check-strictly prefix-icon="el-icon-search"></el-input>
                  <!-- node-key为每个节点的唯一标识符，设置此属性才通过tree的getCheckedKeys获得已勾选菜单的id -->
                  <el-tree :data="treeData" show-checkbox="true" node-key="id" ref="treeData" check-strictly :filter-node-method="filterNode"
                    default-expand-all></el-tree>
                  <div style="margin-top: 20px;">
                    <el-button type="primary" @click="submitTree" icon="el-icon-check" size="medium">提交</el-button>
                    <el-button type="info" icon="el-icon-d-arrow-left" @click="returnIndex()" size="medium" plain>返回</el-button>
                  </div>
                </el-card>
              </el-col>
            </el-row>
          </div>
        </main>
        {include file="footer" /}
      </section>
    </section>
  </section>
  <script type="text/javascript">
    let app = new Vue({
      el: '#app',
      data: {
        isSelectedAll: false,
        treeData: [],
        defaultCheckedKeys: [],
        nav_powers: [],
        filterText: '',
        treeIds: [],
      },
      methods: {
        submitTree() {
          httpRequest('POST', 'api_systems/role_nav_powers/update', {
            role_id: querystring.roleId,
            nav_ids: this.$refs.treeData.getCheckedKeys()
          }).then((resp) => {
            this.$message.success(resp.msg)
            return httpRequest('POST', 'api_admins/admins/navs');
          }).then((resp) => {
            setStorage('adminNavs', resp.data);
            setTimeout(() => {
              this.returnIndex();
            }, 500);
          })
        },
        selectAll() {
          if (this.isSelectedAll) {
            this.$refs.treeData.setCheckedKeys([])
          } else {
            this.$refs.treeData.setCheckedKeys(this.treeIds)
          }
          this.isSelectedAll = !this.isSelectedAll;
        },
        // 返回列表页
        returnIndex() {
          location = location.origin + '/admin/roles/index' + querystringStringify({ currentPage: querystring.currentPage });
        },
        filterNode(value, data) {
          if (!value) return true;
          return data.label.indexOf(value) !== -1;
        }
      },
      watch: {
        filterText(val) {
          this.$refs.treeData.filter(val);
        }
      },
      mounted() {
        // 菜单树
        httpRequest('POST', 'api_systems/navs/index_tree')
          .then((resp) => {
            this.treeData = packageTreeData(resp.data);
            // 查询角色对应的菜单id集合
            return httpRequest('POST', 'api_systems/role_nav_powers/read', { role_id: querystring.roleId });
          })
          .then((resp) => {
            this.$refs.treeData.setCheckedKeys(resp.data.nav_ids)
          })

        //查询所有菜单的id集合
        httpRequest('POST', 'api_systems/navs/index').then((resp) => {
          resp.data.forEach((i) => {
            this.treeIds.push(i.id);
          })
        })


      }
    })
  </script>
</body>

</html>