{include file="header" /}

<body>

  <section class="el-container  is-vertical">
    {include file="top" /}
    <section class="el-container">
      {include file="left" /}
      <section class="el-container  is-vertical">
        <main class="el-main" id="main">
          <div id="app">
            <fieldset>
              <legend v-text="title"></legend>
            </fieldset>
            <el-row :gutter="20">
              <el-col :span="12">
                <el-card>
                  <div slot="header">
                    <span>分类基本信息</span>
                  </div>
                  <el-form :model="formData" ref="ruleForm" :rules="rules" label-position="left" label-width="120px">
                    <el-form-item label="分类名称" prop="name">
                      <el-input v-model="formData.name" clearable></el-input>
                    </el-form-item>
                    <el-form-item label="选择父分类" prop="pid">
                      <el-cascader change-on-select v-model="type_ids" :options="types" expand-trigger="hover"></el-cascader>
                    </el-form-item>
                    <el-form-item label="类目状态" prop="status">
                      <el-radio v-model="formData.status" :label="status[0]">显示</el-radio>
                      <el-radio v-model="formData.status" :label="status[1]">隐藏</el-radio>
                    </el-form-item>
                    <el-form-item label="类目排序" prop="sort">
                      <el-input v-model="formData.sort" clearable></el-input>
                    </el-form-item>
                    <el-form-item label="规格模板" prop="spec_template_id">
                      <el-select v-model="formData.spec_template_id">
                        <el-option v-for="(spec, key) in specs" :key="key" :label="spec.template_name" :value="spec.id"></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="属性模板" prop="attr_template_id">
                      <el-select v-model="formData.attr_template_id">
                        <el-option v-for="(attr, key) in attrs" :key="key" :label="attr.template_name" :value="attr.id"></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item>
                      <el-button type="primary" @click="submitForm('ruleForm')" icon="el-icon-check">提交</el-button>
                      <el-button type="info" icon="el-icon-d-arrow-left" @click="returnIndex()" plain>返回</el-button>
                    </el-form-item>
                  </el-form>
                </el-card>
              </el-col>
              <el-col :span="6">
                <el-card body-style="text-align: center;">
                  <div slot="header">
                    <span>类目缩略图</span>
                  </div>
                  <ul class="el-upload-list el-upload-list--picture-card" v-show="formData.thum">
                    <li class="el-upload-list__item is-ready">
                      <img :src="formData.thum" alt="" class="el-upload-list__item-thumbnail">
                      <a class="el-upload-list__item-name">
                        <i class="el-icon-document"></i>
                      </a>
                      <label class="el-upload-list__item-status-label">
                        <i class="el-icon-upload-success el-icon-check"></i>
                      </label>
                      <!---->
                      <span class="el-upload-list__item-actions">
                        <span class="el-upload-list__item-delete" @click="formData.thum = ''">
                          <i class="el-icon-delete"></i>
                        </span>
                      </span>
                    </li>
                  </ul>
                  <div class="el-upload el-upload--picture-card" @click="fileClick();">
                    <i class="el-icon-plus"></i>
                    <input @change="fileChange($event)" type="file" id="upload_file" style="display: none">
                  </div>
                </el-card>
              </el-col>
            </el-row>
          </div>

        </main>
        {include file="footer" /}
      </section>
    </section>
  </section>

  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
        title: querystring.typeId ? '修改商品分类' : '新增商品分类',
        formData: {
          name: '',
          status: 1,
          thum: '',
          pid: '',
          attr_template_id: 0,
          spec_template_id: 0,
          sort: ''
        },
        type_ids: [],
        types: [],
        status: [1, 2],
        // 验证器 校验规则参见 https://github.com/yiminghe/async-validator
        rules: {
          name: [
            { required: true, message: '请输入类目名称', trigger: 'blur' },
          ],
          pid: [
            { required: true, message: '请选择父分类', trigger: 'blur' },
          ]
        },
        specs: [],
        attrs: []
      },
      watch: {
        type_ids(value) {
          this.formData.pid = this.type_ids[this.type_ids.length - 1];
        }
      },
      methods: {
        // 提交表单
        submitForm(formName) {
          this.$refs[formName].validate((valid) => {
            if (valid) {
              // 通过校验
              let data = deepCopy(this.formData);
              data.attr_template_id = data.attr_template_id || 0;
              data.spec_template_id = data.spec_template_id || 0;
              console.log(data);
              let router = querystring.typeId ? 'api_goods/goods_cates/update' : 'api_goods/goods_cates/save';
              httpRequest('POST', router, data).then((resp) => {
                this.$message.success(resp.msg)
                setTimeout(() => {
                  this.returnIndex();
                }, 500)
              });
            } else {
              return false;
            }
          });
        },
        // 返回列表页
        returnIndex() {
          location = location.origin + '/admin/goods_cates/index' + querystringStringify({ currentPage: querystring.currentPage });
        },
        fileClick() {
          document.getElementById('upload_file').click()
        },
        //文件发生该变
        fileChange(el) {
          if (!el.target.files[0].size) return;
          this.fileList(el.target);
          el.target.value = ''
        },
        //文件列表
        fileList(fileList) {
          let files = fileList.files;
          for (let i = 0; i < files.length; i++) {
            //判断是否为文件夹
            if (files[i].type != '') {
              this.fileAdd(files[i]);
            } else {
              //文件夹处理
              this.folders(fileList.items[i]);
            }
          }
        },
        //文件夹处理
        folders(files) {
          //判断是否为原生file
          if (files.kind) {
            files = files.webkitGetAsEntry();
          }
          files.createReader().readEntries((file) => {
            for (let i = 0; i < file.length; i++) {
              if (file[i].isFile) {
                this.foldersAdd(file[i]);
              } else {
                this.folders(file[i]);
              }
            }
          })
        },
        foldersAdd(entry) {
          entry.file((file) => {
            this.fileAdd(file)
          })
        },
        fileAdd(file) {
          //判断是否为图片文件
          if (file.type.indexOf('image') == -1) {
            this.$message.error('请选择图片类型的文件');
          } else {
            let reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function () {
              file.src = this.result;
              app.formData.thum = file.src;
            }
          }
        },
      },
      mounted() {
        // 查询所有分类
        httpRequest('post', 'api_goods/goods_cates/index_tree')
          .then((resp) => {
            this.types = packageCascaderData(resp.data);
            this.types.unshift({
              label: '顶级商品类目分类',
              value: 0
            });
            // 查询类目信息
            if (querystring.typeId) {
              httpRequest('POST', 'api_goods/goods_cates/read', { id: querystring.typeId })
                .then((resp) => {
                  this.type_ids = packageCascaderSelecteData(this.types, resp.data.pid);
                  this.formData = resp.data;
                })
            }
          })

        // 获取商品规格模板列表
        httpRequest('POST', 'api_goods/spec_templates/index').then((resp) => {
          this.specs = resp.data;
          this.specs.unshift({
            id: 0,
            template_name: '不开启规格模板'
          })
        });
        // 获取商品属性模板列表
        httpRequest('POST', 'api_goods/attr_templates/index').then((resp) => {
          this.attrs = resp.data;
          this.attrs.unshift({
            id: 0,
            template_name: '不开启属性模板'
          })
        });
      }
    })

  </script>

</body>

</html>