{include file="header" /}
<style>
  .custom-tree-node {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding-right: 8px;
  }
</style>

<body>

  <section class="el-container  is-vertical">
    {include file="top" /}
    <section class="el-container">
      {include file="left" /}
      <section class="el-container  is-vertical">
        <main class="el-main" id="main">
          <div id="app">
            <fieldset>
              <legend>商品分类分类列表</legend>
            </fieldset>

            <el-row>
              <el-col :span="12">
                <el-card>
                  <div slot="header">
                    <span>分类信息</span>
                    <el-button type="primary" style="float: right;" size="mini" icon="el-icon-plus" @click="goAdd()">新增商品分类</el-button>
                  </div>
                  <el-input placeholder="输入关键字进行过滤" v-model="filterText" style="margin-bottom: 20px;" clearable>
                  </el-input>
                  <el-tree :data="treeData" :props="defaultProps" :expand-on-click-node="false" default-expand-all :filter-node-method="filterNode"
                    ref="tree">
                    <span class="custom-tree-node" slot-scope="{ node, data }">
                      <span>{{ node.label }}</span>
                      <span>
                        <el-button type="text" size="mini" @click="editCate(data)">
                          <i class="el-icon-edit-outline"></i>
                        </el-button>
                        <el-button type="text" size="mini" @click="deleteCate(data)">
                          <i class="el-icon-delete"></i>
                        </el-button>
                      </span>
                    </span>
                  </el-tree>
                </el-card>
              </el-col>
            </el-row>
          </div>

        </main>
        {include file="footer" /}
      </section>
    </section>
  </section>

  <script type="text/javascript">
    let app = new Vue({
      el: '#app',
      data() {
        return {
          filterText: '',
          treeData: [],
          defaultProps: {
            children: 'children',
            label: 'label'
          },
        }
      },
      methods: {
        filterNode(value, data) {
          if (!value) return true;
          return data.label.indexOf(value) !== -1;
        },
        goAdd() {
          location = location.origin + '/admin/goods_cates/edit';
        },
        deleteCate(data) {
          this.$confirm('确认删除?', '提示').then(() => {
            httpRequest('POST', '/api_goods/goods_cates/delete', { id: data.id }).then((resp) => {
              this.$message.success(resp.msg)
              setTimeout(() => {
                location.reload();
              }, 500);
            })
          }).catch((e) => {
            this.$message.info('操作取消');
          })
        },
        editCate(data) {
          location = location.origin + '/admin/goods_cates/edit' + querystringStringify({ typeId: data.id });
        }
      },
      watch: {
        filterText(val) {
          this.$refs.tree.filter(val);
        }
      },
      mounted() {
        httpRequest('POST', '/api_goods/goods_cates/index_tree').then((resp) => {
          this.treeData = packageTreeData(resp.data);
        })
      }
    })

  </script>
</body>

</html>